#logoMED{
	width: 170px;
}

.brand{
	padding: 17px 39px !important;
}

#pagination_controls{
	text-align: center;
}

#imgStudent{
	width: 90px;
}

#panelPerfil{
	min-height: 655px;
}

.checkHorizontal{
    float: left;
    margin-left: 20px;
}